// Variables

// Fonts
$main_font: 'Raleway', sans-serif;

// Colores
$main: #33C3F0;
$secondary: #741D51;
$third: #E44E51;
$white: white;
$gray: #F2F2F2;
$black: black;

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;